.header {
  background-color: aquamarine;
  margin: 0;
  text-align: center;
  padding: 20px
}
.background {
  background-color: #f2f2f2;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.description {
  text-align: center;
}
.input-container, .output-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  gap: 20px;
}
.convert-button {
  background-color: aquamarine;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
}
.convert-button:hover {
  background-color: #00b3b3;
  transition: 0.3s;
}
.playlist-input {
  width: 500px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 5px;
  font-size: 16px;
}
.playlist-input:focus {
  outline: none;
  border: 1px solid aquamarine;
}
.playlist-input::placeholder {
  color: #ccc;
}
/*failing input message, animate in*/
.playlist-fail {
  color: black;
  font-size: 18px;
  background-color: red;
  padding: 10px;
  border-radius: 5px;
  animation: zoom-in-out 0.4s ease-in-out;
}
@keyframes zoom-in-out {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
