.trackImg{
    width: 250px;
}
.trackDiv {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 10px;
    border: 1px solid black;
}

.trackDiv > a {
    color: black;
    text-decoration: none;
}

.playListInfo > p {
    padding: 0 10px;
}

.output-container {
    display: grid;
    grid-template-columns: auto auto auto;
}

.output {
    text-align: center;
}